# Data files
data/
!data/.gitkeep
*.csv

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environment
.env
venv/
.venv/

# OS
.DS_Store
**/.DS_Store

# Models
*.safetensors
models/tfidf_vectorizer.pkl
